@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');


:root {
  --primary-color: #ad46ff;
  --link-color: #ad46ff !important;
  --border-radius: 8px;
  --font-family-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-family-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

 /* Dark mode overrides */
 :root[data-theme=dark] {
  --primary-color: #9e5dec;
  --link-color: #9e5dec !important;
  color-scheme: dark;
}

::selection {
  background-color: color-mix(in oklab, var(--primary-color) 25%, transparent);
}

/* For Firefox */
::-moz-selection {
  background-color: color-mix(in oklab, var(--primary-color) 25%, transparent);
}

/* For WebKit browsers */
::-webkit-selection {
  background-color: color-mix(in oklab, var(--primary-color) 25%, transparent);
}

&::selection {
  background-color: color-mix(in srgb, #ec4899 30%, transparent);
  @supports (color: color-mix(in lab, red, red)) {
    background-color: color-mix(in oklab, #ec4899 30%, transparent);
  }
}

.sidebar {
  padding: .5em;
}

.sidebar nav li a.active {
  font-weight: 500;
  color: var(--primary-color);
  border-color: color-mix(in oklab, var(--primary-color) 20%, transparent);
  background-color: color-mix(in oklab, var(--primary-color) 10%, transparent);
}

.sidebar nav li a, 
.sidebar nav li .nav-label{
  padding: 10px 16px;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-nav{
  position: relative;
}

.sidebar::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  translate: calc(calc(1 / 2 * 100%) * -1);
  height: 100px;
  width: 100%;
  border-radius: 100px 100px 0 0;
  background-color: color-mix(in oklab, var(--primary-color) 10%, transparent);
  filter: blur(120px);
}

@media (max-width: 768px) {
  .sidebar-header {
    height: 4em;
  }
  .sidebar-menu-button {
    margin-top: 0px;
  }
  .sidebar::before {
    display: none;
  }
}

.logo-link {
  padding: 0.75rem;
}

:root[data-theme="dark"] {
  .toc-link.active {
    background-color: var(--sidebar-link-active-bg);
  }
}

.text-color {
  color: var(--text-color) !important;
}

.link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 6px;
  transition: background-color .2s;
  width: fit-content;
  max-width: fit-content;
  margin-bottom: 0.25rem;

  &:hover {
    background-color: #0000000d;
  }

  svg {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    margin-right: 0.5rem;
    color: var(--text-color);
  }

  &._blank{
    min-width: 250px;
    &::after {
      content: "";
      display: inline-block;
      background-color: var(--text-color);
      width: 14px;
      height: 14px;
      min-width: 14px;
      min-height: 14px;
      margin-left: auto;
      mask-size: contain;
      mask-repeat: no-repeat;
      opacity: 0.5;
      mask-image:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6'/%3E%3Cpath d='m21 3-9 9'/%3E%3Cpath d='M15 3h6v6'/%3E%3C/svg%3E");
    }
  }
}

:root[data-theme="dark"] .link:hover {
  background-color: #ffffff0d;
}