name: publish-nuget

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Restore
        run: dotnet restore ./src/AspNetConventions/AspNetConventions.csproj

      - name: Build
        run: dotnet build ./src/AspNetConventions/AspNetConventions.csproj -c Release --no-restore

      - name: Pack
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          dotnet pack ./src/AspNetConventions/AspNetConventions.csproj \
            -c Release \
            -p:PackageVersion=$VERSION \
            -o ./nupkg \
            --no-build

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          generate_release_notes: true

      - name: Publish to NuGet
        run:  |
          dotnet nuget push ./nupkg/*.nupkg \
              --api-key ${{ secrets.NUGET_API_KEY }} \
              --source https://api.nuget.org/v3/index.json
